.nav {
    list-style-type: none;
    margin: 0;
    padding: 1000;
    display: flex;
    background-color: grey;
    border-style:solid;
    height: 50px;
}

.nav h1{
    font-family:'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    align-items: left;
    margin-left: 50px;
    margin-right: 800px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav a{
    padding: 10px;
    text-decoration: none;
    color: white;
    align-items: right;
}
